

    .words{
        color: white;
    }

    .words2{
        color: white;
        font-family: 'Times New Roman', Times, serif;
        position: ;
        text-align: right;
    }

    #splash {
        background-image: url("xbox.jpg");
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

